body {
  margin: 0;
}
.header {
  background-color: rgb(247, 252, 252);
  display: flex;
  flex-direction: space-between;
  padding: 0.5rem;
  gap: 40%;
}
.tree {
  background-color: none;
  text-decoration: none;
  border: none;
  color: rgb(15, 15, 15);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  margin-left: 30px;
}
.bt {
  font-family: impact;
  font-size: 25px;
}

.btn {
  cursor: pointer;
  border: 1px solid #1111ce;
  border-radius: 14px;
  background-color: transparent;
  height: 15px;
  width: 100px;
  color: rgb(12, 116, 207);
  margin-top: 10px;
}
.btn:hover {
  background-color: #1111ce;
  color: white;
}
span {
  margin: 10px;
  font-size: 14px;
  position: relative;
  top: -10px;
}
