.container {
  text-align: center;
  background-color: #eeeeee;
}

.templates {
  background-color: #eeeeee;
  padding: 10px;
  display: flex;
  color: rgb(14, 13, 13);
  justify-content: center;
}
.ptag {
  font-weight: bold;
}
